@model BuySellOldBooks.Models.LocalPasswordModel
@{
    Layout = null;
    ViewBag.Title = "Manage Account";
}

<!DOCTYPE html>
<html lang="en">

@*NEW HTML TEMPLATE*@
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - BookDesk.in</title>
    <link href="~/Content/CustomStylesheet.css" rel="stylesheet" type="text/css" />
</head>

<body id="body">

    

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <table width="73%" border="0" cellspacing="0" cellpadding="0">
                    
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="29%" height="85" valign="bottom" align="left" style="padding-bottom:5px;"><a href="@Url.Action("SearchBooks","Book")"><img src="~/images/logo.png" width="256" height="64" style="border:none" /></a></td>
                                    <td width="71%" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                @*<td width="73%" align="right" valign="top" style="padding-top:15px;"><a href="#" class="top_links">About Us</a><span class="top_links"> | </span><a href="#" class="top_links">Add New Book</a><span class="top_links"> | </span><a href="#" class="top_links">Add New Book</a></td>*@
                                                <td width="73%" align="right" valign="top">@Html.Partial("_LoginPartial")</td>
                                                <td width="27%" align="right"><a href="@Url.Action("Specials","Home")"><img src="~/images/top.png" width="162" height="76" style="border:none" /></a></td>
                                                @*<td>@Html.Partial("_LoginPartial")</td>*@
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="heading4" align="left">You're logged in as <strong>@User.Identity.Name</strong></td>
                                    <td colspan="2" valign="top">&nbsp;</td>
                                </tr>
                                <tr>

                                    <td width="100%" valign="top" align="center">
                                        <table width="99%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td bgcolor="#ffffff">

                                                    <table align="center" valign="top" width="70%">
                                                        <tr>
                                                            <td align="center" valign="top">

                                                                <table width="100%" cellpadding="5" cellspacing="0">
                                                                    

                                                                    <div style="background-color:#FBED8F;font-family:Arial, Helvetica, sans-serif; font-size:15px;text-decoration:none;">
                                                                        @{
                                                                            if (TempData["changePasswordFailureFlag"] == "1")
                                                                            {
                                                                                <p>Unable to update password, Please enter valid values.</p>
                                                                                
                                                                            }
                                                                            else if (TempData["changePersonalInfoSucceededFlag"] == "1")
                                                                            {
                                                                                <p>Personal information has been changed successfully.</p>
                                                                                
                                                                            }
                                                                            
                                                                            
                                                                        }
                                                                    </div>

                                                                    @*<div style="background-color:#FBED8F;font-family:Arial, Helvetica, sans-serif; font-size:15px;text-decoration:none;">THIS IS A TEST DIV</div>*@
                                                                    @*<h2>Use a local account to log in.</h2>*@
                                                                    @*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
                                                                        @Html.AntiForgeryToken()
                                                                        @Html.ValidationSummary(true,null,new { @class="ValidationSummaryMsgs" })
                                                                    *@
                                                                    <tr>
                                                                        <td align="left" colspan="2">&nbsp;</td>
                                                                    </tr>


                                                                    @if (ViewBag.HasLocalPassword)
                                                                    {
                                                                        <tr>
                                                                            <td align="center">
                                                                                @Html.Partial("_ChangePasswordPartial")
                                                                                @if (!((TempData["changePasswordSucceededFlag"] == "1")||(TempData["changePasswordFailureFlag"]=="1")))
                                                                                { 
                                                                                    Html.RenderAction("ChangeExtraUserInfoPartial", "Account"); 
                                                                                }

                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                    else
                                                                    {
                                                                        <tr>
                                                                            @Html.Partial("_SetPasswordPartial")
                                                                        </tr>
                                                                    }

                                                                    <tr>

                                                                        @* //@Html.Partial("_ChangeExtraUserInfoPartial")*@
                                                                    </tr>

                                                                    <section id="externalLogins">
                                                                        @Html.Action("RemoveExternalLogins")

                                                                    </section>




                                                                </table>
                                                                @*<section class="social" id="socialLoginForm">
                                                                        <h2>Use another service to log in.</h2>
                                                                        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                                                                    </section>*@

                                                                @*@section Scripts {
                                                                        @Scripts.Render("~/bundles/jqueryval")
                                                                    }*@
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="heading2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="center">@Html.Partial("_Footer")</td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>

</body>
@*END NEW HTML TEMPLATE*@
</html>
