<table width="99.1%" border="0" cellspacing="0" cellpadding="0" bgcolor="#333333">
    <tr>
        <td>
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="50%">
                        <table width="100%" cellspacing="15" cellpadding="0">
                            <tr>
                                <td width="40%" valign="top">
                                    <table width="100%" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td class="text6" align="left">Information</td>
                                        </tr>
                                        <tr>
                                            <td class="top_links" align="left">@Html.ActionLink("About Us", "About", "Home")</td>
                                        </tr>
                                        <tr>
                                            <td class="top_links" align="left">@Html.ActionLink("Frequently Asked Questions", "FrequentlyAskedQuestions", "Home")</td>
                                        </tr>

                                        <tr>
                                            <td class="top_links" align="left">@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="60%" valign="top">
                                    <table width="100%" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td class="text6" align="left" style="margin-left: 5px">Customer Service</td>
                                        </tr>
                                        <tr>
                                            <td class="top_links" align="left" style="margin-left: 5px">@Html.ActionLink("Contact Us", "Contact", "Home")</td>
                                        </tr>
                                        <tr>
                                            <td class="top_links" align="left" style="margin-left: 5px">@Html.ActionLink("Site Map", "SiteMap", "Home")</td>
                                        </tr>
                                        <tr>
                                            <td class="top_links" align="left" style="margin-left: 5px">@Html.ActionLink("Specials", "Specials", "Home")</td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%">
                        <table width="100%" cellspacing="0" cellpadding="5">
                            <tr>
                                <td width="30%" valign="top">
                                    <table width="100%" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td class="text6" align="left" style="margin-left: 5px">Information</td>
                                        </tr>
                                        <tr>
                                            <td class="top_links" align="left" style="margin-left: 5px">For related queries, Please call :</td>
                                        </tr>
                                        <tr>
                                            <td class="text1" align="left" style="margin-left: 5px">+91 88 0076 9588</td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="20%" valign="top">
                                    <table width="100%" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td class="text6" align="left" style="margin-left: 5px">Stay In Touch</td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <table width="100%" cellspacing="0" cellpadding="5">
                                                    <tr>
                                                        <td width="20%">
                                                            <img src="~/Images/fb.png" /></td>
                                                        <td width="80%">
                                                            <img src="~/Images/tw.png" /></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
    <td align="right" class="top_links" style="padding-right:10px;">Copyright © 2014-2015 BookDesk.in</td>
  </tr>
</table>
